<header>
    <div class="header-left">
        <img src="../assets/trf5-image.png" alt="">
        <div class="header-title">
            <p>{{headerTitle2}}</p>
        </div>
    </div>

    <nav>
        <ul>
            <li>
                <a href="#pesquisa">Acessibilidade</a>
            </li>
            <li>
                <a href="https://www.trf5.jus.br/index.php/consulta-processual-fisico-e-eletronico">Ir para o portal da
                    5° Região</a>
            </li>
        </ul>
    </nav>
  
</header>
<div class="header-divider"></div>